<launch>
  <param name="/use_sim_time" value="true" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

  <node name="cartographer_offline_node" pkg="cartographer_ros"
      type="cartographer_offline_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename racecar.lua
          -urdf_filename $(find racecar_description)/urdf/racecar.urdf
          -bag_filenames $(arg bag_filenames)"
      output="screen">
      <remap from="odom" to="/vesc/odom" />
  </node>
</launch>
